.android-compact {
  background-color: #ffffff;
  min-height: 655px;
  min-width: 422px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.android-compact .black {
  aspect-ratio: 1;
  height: 655px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 422px;
}

.android-compact .img {
  aspect-ratio: 1.11;
  height: 67px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 497px;
  width: 64px;
}

.android-compact .img-2 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 423px;
  width: 72px;
}

.android-compact .img-3 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 464px;
  width: 72px;
}

.android-compact .img-4 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 419px;
  width: 72px;
}

.android-compact .img-5 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 212px;
  object-fit: cover;
  position: absolute;
  top: 507px;
  width: 72px;
}

.android-compact .img-6 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 276px;
  object-fit: cover;
  position: absolute;
  top: 419px;
  width: 72px;
}

.android-compact .img-7 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 397px;
  object-fit: cover;
  position: absolute;
  top: 412px;
  width: 25px;
}

.android-compact .img-8 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 336px;
  object-fit: cover;
  position: absolute;
  top: 464px;
  width: 72px;
}

.android-compact .img-9 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 54px;
}

.android-compact .img-10 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 72px;
}

.android-compact .img-11 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 72px;
}

.android-compact .img-12 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 153px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 72px;
}

.android-compact .img-13 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 174px;
  object-fit: cover;
  position: absolute;
  top: 189px;
  width: 72px;
}

.android-compact .img-14 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 189px;
  width: 72px;
}

.android-compact .img-15 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 370px;
  object-fit: cover;
  position: absolute;
  top: 252px;
  width: 52px;
}

.android-compact .img-16 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 424px;
  width: 24px;
}

.android-compact .img-17 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 266px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 72px;
}

.android-compact .img-18 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 326px;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 72px;
}

.android-compact .img-19 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 53px;
}

.android-compact .img-20 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 256px;
  width: 65px;
}

.android-compact .img-21 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 297px;
  width: 72px;
}

.android-compact .img-22 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 252px;
  width: 72px;
}

.android-compact .img-23 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: 362px;
  width: 72px;
}

.android-compact .img-24 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 356px;
  width: 72px;
}

.android-compact .img-25 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 230px;
  object-fit: cover;
  position: absolute;
  top: 252px;
  width: 72px;
}

.android-compact .img-26 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 290px;
  object-fit: cover;
  position: absolute;
  top: 297px;
  width: 72px;
}

.android-compact .img-27 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 305px;
  width: 72px;
}

.android-compact .img-28 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 226px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 72px;
}

.android-compact .img-29 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 195px;
  width: 72px;
}

.android-compact .img-30 {
  aspect-ratio: 1.11;
  height: 67px;
  left: 378px;
  object-fit: cover;
  position: absolute;
  top: 330px;
  width: 44px;
}

.android-compact .phoca-thumb-l-uzor {
  aspect-ratio: 4.58;
  height: 24px;
  left: 155px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 112px;
}

.android-compact .vector {
  height: 13px;
  left: 187px;
  position: absolute;
  top: 432px;
  width: 7px;
}

.android-compact .rectangle {
  -webkit-backdrop-filter: blur(9.2px) brightness(100%);
  backdrop-filter: blur(9.2px) brightness(100%);
  background-color: #d9d9d933;
  border-radius: 15px;
  height: 112px;
  left: 24px;
  position: absolute;
  top: 123px;
  width: 374px;
}

.android-compact .rectangle-2 {
  height: 50px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 123px;
  width: 51px;
}

.android-compact .div {
  -webkit-backdrop-filter: blur(9.2px) brightness(100%);
  backdrop-filter: blur(9.2px) brightness(100%);
  background-color: #d9d9d933;
  border-radius: 15px;
  height: 112px;
  left: 24px;
  position: absolute;
  top: 258px;
  width: 374px;
}

.android-compact .vector-2 {
  height: 36px;
  left: 11px;
  position: absolute;
  top: 434px;
  width: 18px;
}

.android-compact .vector-3 {
  height: 36px;
  left: 11px;
  position: absolute;
  top: 434px;
  width: 20px;
}

.android-compact .rectangle-3 {
  -webkit-backdrop-filter: blur(9.2px) brightness(100%);
  backdrop-filter: blur(9.2px) brightness(100%);
  background-color: #d9d9d933;
  border-radius: 15px;
  height: 143px;
  left: 24px;
  position: absolute;
  top: 395px;
  width: 166px;
}

.android-compact .rectangle-4 {
  -webkit-backdrop-filter: blur(9.2px) brightness(100%);
  backdrop-filter: blur(9.2px) brightness(100%);
  background-color: #d9d9d933;
  border-radius: 15px;
  height: 143px;
  left: 235px;
  position: absolute;
  top: 395px;
  width: 166px;
}

.android-compact .rectangle-5 {
  -webkit-backdrop-filter: blur(4.05px) brightness(100%);
  backdrop-filter: blur(4.05px) brightness(100%);
  background: linear-gradient(
    264deg,
    rgba(217, 217, 217, 0.6) 0%,
    rgba(115, 115, 115, 0.6) 100%
  );
  border-radius: 15px;
  height: 40px;
  left: 283px;
  position: absolute;
  top: 27px;
  transform: rotate(180deg);
  width: 118px;
}

.android-compact .rectangle-6 {
  -webkit-backdrop-filter: blur(4.05px) brightness(100%);
  backdrop-filter: blur(4.05px) brightness(100%);
  background-color: #d9d9d933;
  border-radius: 15px;
  height: 40px;
  left: 283px;
  position: absolute;
  top: 23px;
  transform: rotate(180deg);
  width: 118px;
}

.android-compact .rectangle-7 {
  -webkit-backdrop-filter: blur(4.05px) brightness(100%);
  backdrop-filter: blur(4.05px) brightness(100%);
  background: linear-gradient(
    264deg,
    rgba(217, 217, 217, 0.6) 0%,
    rgba(115, 115, 115, 0.6) 100%
  );
  border-radius: 15px;
  height: 40px;
  left: 24px;
  position: absolute;
  top: 27px;
  width: 118px;
}

.android-compact .rectangle-8 {
  -webkit-backdrop-filter: blur(4.05px) brightness(100%);
  backdrop-filter: blur(4.05px) brightness(100%);
  background-color: #d9d9d933;
  border-radius: 15px;
  height: 40px;
  left: 24px;
  position: absolute;
  top: 23px;
  width: 118px;
}

.android-compact .airbrush-image {
  aspect-ratio: 0.99;
  height: 125px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 120px;
  width: 125px;
}

.android-compact .airbrush-image-2 {
  aspect-ratio: 1;
  height: 167px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 109px;
  width: 167px;
}

.android-compact .img-31 {
  aspect-ratio: 1;
  height: 130px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 114px;
  width: 130px;
}

.android-compact .ellipse {
  height: 44px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 44px;
}

.android-compact .text {
  color: #ffffff;
  font-family: "Jomhuria-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 131px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 86px;
  width: 73px;
}

.android-compact .matvey-g {
  height: 21px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 73px;
}

.android-compact .img-32 {
  aspect-ratio: 1;
  height: 166px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 233px;
  width: 164px;
}

.android-compact .airbrush-image-3 {
  aspect-ratio: 1.35;
  height: 99px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 254px;
  width: 115px;
}

.android-compact .img-33 {
  aspect-ratio: 1;
  height: 34px;
  left: 299px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 34px;
}

.android-compact .img-34 {
  aspect-ratio: 1;
  height: 102px;
  left: 246px;
  object-fit: cover;
  position: absolute;
  top: 398px;
  width: 102px;
}

.android-compact .text-wrapper {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-M8ExtraBold", Helvetica;
  font-size: 30px;
  font-weight: 800;
  left: 30px;
  letter-spacing: -0.90px;
  line-height: 39.0px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 499px;
  white-space: nowrap;
  width: 169px;
}

.android-compact .img-35 {
  aspect-ratio: 1.04;
  height: 166px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 378px;
  width: 144px;
}

.android-compact .img-36 {
  aspect-ratio: 1;
  height: 163px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 372px;
  width: 163px;
}

.android-compact .img-37 {
  aspect-ratio: 1;
  height: 139px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 388px;
  width: 139px;
}

.android-compact .img-38 {
  aspect-ratio: 1.02;
  height: 162px;
  left: 260px;
  object-fit: cover;
  position: absolute;
  top: 372px;
  width: 162px;
}

.android-compact .text-wrapper-2 {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-M8ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 256px;
  letter-spacing: -0.72px;
  line-height: 31.2px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 487px;
  white-space: nowrap;
  width: 165px;
}

.android-compact .text-wrapper-3 {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-M8ExtraBold", Helvetica;
  font-size: 12px;
  font-weight: 800;
  left: 252px;
  letter-spacing: -1.08px;
  line-height: 15.6px;
  position: absolute;
  top: 512px;
  width: 168px;
}

.android-compact .text-wrapper-4 {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-M8ExtraBold", Helvetica;
  font-size: 32px;
  font-weight: 800;
  left: 206px;
  letter-spacing: -2.88px;
  line-height: 41.6px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 280px;
  width: 395px;
}

.android-compact .text-wrapper-5 {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-M8ExtraBold", Helvetica;
  font-size: 16px;
  font-weight: 800;
  left: 207px;
  letter-spacing: -1.44px;
  line-height: 20.8px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 313px;
  width: 376px;
}

.android-compact .text-wrapper-6 {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-M8ExtraBold", Helvetica;
  font-size: 32px;
  font-weight: 800;
  left: 210px;
  letter-spacing: -2.88px;
  line-height: 41.6px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 150px;
  white-space: nowrap;
}

.android-compact .text-wrapper-7 {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-M8ExtraBold", Helvetica;
  font-size: 16px;
  font-weight: 800;
  left: 207px;
  letter-spacing: -1.44px;
  line-height: 20.8px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 328px;
  width: 145px;
}

.android-compact .vector-4 {
  aspect-ratio: 1.04;
  height: 71px;
  left: 324px;
  object-fit: cover;
  position: absolute;
  top: 123px;
  width: 74px;
}

.android-compact .vector-5 {
  height: 72px;
  left: 324px;
  position: absolute;
  top: 122px;
  width: 75px;
}

.android-compact .vector-6 {
  height: 73px;
  left: 323px;
  position: absolute;
  top: 121px;
  width: 76px;
}

.android-compact .text-wrapper-8 {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-M8ExtraBold", Helvetica;
  font-size: 16px;
  font-weight: 800;
  left: 371px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 131px;
  transform: rotate(42.80deg);
  white-space: nowrap;
  width: 41px;
}

.android-compact .text-wrapper-9 {
  color: #ffffff;
  font-family: "Axiforma-Bold-☞", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 351px;
  letter-spacing: 0;
  line-height: 15.6px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 140px;
  transform: rotate(43.71deg);
  width: 60px;
}

.android-compact .p {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-ExtraBold", Helvetica;
  font-size: 16px;
  font-weight: 800;
  left: 206px;
  line-height: 20.8px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 183px;
  white-space: nowrap;
  width: 168px;
}

.android-compact .span {
  letter-spacing: -0.28px;
}

.android-compact .text-wrapper-10 {
  letter-spacing: -0.08px;
}

.android-compact .rectangle-9 {
  background-color: #000000;
  border: 1px solid;
  border-color: #ffffff;
  height: 63px;
  left: -7px;
  position: absolute;
  top: 596px;
  width: 433px;
}

.android-compact .text-wrapper-11 {
  color: #ffffff;
  font-family: "TheSans Mono Web Var-M8ExtraBold", Helvetica;
  font-size: 16px;
  font-weight: 800;
  left: 115px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 619px;
  white-space: nowrap;
  width: 233px;
}

.android-compact .text-wrapper-12 {
  color: #ffffff;
  font-family: "Bayon-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 331px;
  letter-spacing: 0.96px;
  line-height: 43.4px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 23px;
  white-space: nowrap;
}
/* 🚫 Запрещаем выделение текста и перетаскивание изображений */
* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* Стандарт */
  -webkit-user-drag: none;   /* Запрещаем перетаскивание */
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* 🚫 Отключаем контекстное меню (ПКМ) для изображений */
img {
  pointer-events: none;
}
